<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HILDA{% endblock %}</title>
        <meta name="application-name" content="Hilda"/>
        <meta name="description" content="Gestor de Bibliotecas de código abierto"/>
        <meta name="author" content="Daniel Cabrera Cebrero (http://cabrera-dcc.github.io)"/>
        <meta name="version" content="Beta-1 (rev. 20150604)"/>
        <meta name="keywords" content="opensource,library,manager"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="jumbotron">
            {% block header %}{% endblock %}
        </header>

        <nav class="navbar navbar-default navbar-inverse text-uppercase" role="navigation">
            {% block nav %}{% endblock %}
        </nav>

        <main>
            <section class="container-fluid">
                {% block body %}{% endblock %}
            </section>
        </main>

        <footer class="navbar navbar-default navbar-static-bottom">
            {% block footer %}{% endblock %}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
